* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: column;
}

form div > div {
  display: flex;
  flex-direction: row;
}

span {
  color: red;
}

input,
textarea,
select,
input::placeholder {
  margin-block-end: 0.5rem;
  padding: 0.2rem;
  color: gray;
}

textarea {
  height: 100px;
}

label {
  margin-block-end: 0.2rem;
}

input[type='submit'] {
  background-color: lightblue;
  border: none;
  padding: 0.5rem;
  margin-block-start: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
