* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.style {
  display: inline-block;
  border-radius: 5px;
  background: #666;
  color: white;
  padding: 5px;
}

.example {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.newColors {
  color: white;
  background-color: black;
}
