@font-face {
  font-family: Clicker;
  src: url(./assets/fonts/ClickerScript-Regular.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
  --color-white: #fff;
  --color-yellow: #f9c06a;
  --color-black: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  font-family: Playfair;
}

img {
  max-width: 100%;
}

/* ! BASIC */

h1,
h2,
h3 {
  font-family: Clicker;
}

a {
  all: unset;
  cursor: pointer;
  font-size: 0.875rem;
}

p {
  font-size: 1.375rem;
  font-weight: 500;
}

.button {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: var(--color-black);
  border-radius: 25px;
  padding: 0.9375rem 1.6875rem;
  transition: 0.5s;
  font-weight: 500;
}

.button:hover {
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-yellow);
  color: var(--color-yellow);
}

/* ! HEADER */

/* ? Navbar */

header {
  display: flex;
  flex-direction: column;
  background: url(./assets/images/coffee-background_1.png) no-repeat center;
  background-size: cover;
  color: var(--color-white);
  padding: 1.3125rem 5vw 5.9375rem 5vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.1875rem;
}

header nav > a {
  font-family: Clicker;
  font-size: 2.1875rem;
}

header nav div {
  display: flex;
  align-items: center;
  gap: 4vw;
}

header nav div a:nth-of-type(5) {
  margin-left: 10vw;
  text-decoration: underline;
}

/* ? Article */

header article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 42vw;
}

header article h3 {
  font-size: 13.75rem;
  font-weight: 400;
}

header article .button {
  margin-top: 1.25rem;
  font-weight: 700;
}
