@font-face {
  font-family: Clicker;
  src: url(./assets/fonts/ClickerScript-Regular.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
  --color-white: #fff;
  --color-yellow-dark: hsla(36, 92%, 70%, 1);
  --color-yellow-medium: #ffeed8;
  --color-yellow-light: #fff9f1;
  --color-black: #1e1e1e;
  --color-brown: #603809;
  --color-gray: #707070;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  font-family: Playfair;
}

img {
  max-width: 100%;
}

/* ! BASIC */

h1,
h3 {
  font-family: Clicker;
}

h2 {
  font-size: 3.375rem;
  font-weight: 700;
  color: var(--color-brown);
}

a {
  all: unset;
  cursor: pointer;
  font-size: 0.875rem;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

.button {
  background-color: var(--color-yellow-dark);
  border: 1px solid var(--color-yellow-dark);
  color: var(--color-black);
  border-radius: 25px;
  padding: 0.9375rem 1.6875rem;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-yellow-dark);
  color: var(--color-yellow-dark);
}

header,
.discover,
.different,
footer {
  padding: 0 7vw;
}

/* ! HEADER */

/* ? Navbar */

header {
  display: flex;
  flex-direction: column;
  background: url(./assets/images/coffee-background_1.png) no-repeat center;
  background-size: cover;
  color: var(--color-white);
  padding-top: 1.3125rem;
  padding-bottom: 5.9375rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
}

header nav > a {
  font-family: Clicker;
  font-size: 2.1875rem;
}

header nav div {
  display: flex;
  align-items: center;
  gap: 4vw;
}

header nav div a:nth-of-type(5) {
  margin-left: 10vw;
  text-decoration: underline;
}

header .button {
  font-size: 0.875rem;
  font-weight: 500;
}

/* ? Article */

header article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 42vw;
}

header article h3 {
  font-size: 13.75rem;
  font-weight: 400;
}

header article p:first-of-type {
  font-size: 1.375rem;
  font-weight: 500;
}

header article p:last-of-type {
  line-height: 2.125rem;
}

header article .button {
  margin-top: 1.25rem;
  font-weight: 700;
}

/* ! MAIN */

/* ! Discover Section */

.discover {
  display: flex;
  align-items: center;
  margin-top: 7.875rem;
}

.discover div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8125rem;
  margin-right: 8rem;
}

.discover div p {
  color: var(--color-gray);
  line-height: 34px;
}

.discover img {
  width: 40vw;
}

/* ! Blast Section */

.blast img {
  width: 25vw;
}

/* ! Different Section */

.different {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;
}

.different > div {
  display: flex;
  margin-bottom: 2rem;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.different h2 {
  margin-bottom: 1rem;
}

.different p {
  color: var(--color-gray);
}

.different p:nth-of-type(1) {
  margin-bottom: 2rem;
}

.different p:nth-of-type(2) {
  margin-bottom: 0.5rem;
}

.different p:nth-of-type(3) {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 1.5rem;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  flex-basis: 17.5rem;
  min-height: 300px;
  text-align: center;
  padding: 2rem;
  background-color: var(--color-yellow-light);
  border: 1px solid var(--color-yellow-dark);
  transition: 0.5s;
}

.benefits:hover {
  transform: scale(1.05);
}

.benefits:first-of-type {
  background-color: var(--color-yellow-medium);
}

.benefits img {
  width: 88px;
  height: 88px;
  margin-bottom: 1.5625rem;
}

.benefits h4 {
  color: var(--color-brown);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* ! FOOTER */

footer {
  display: flex;
  background: url(./assets/images/coffee-background_2.png) no-repeat center;
  background-size: cover;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10rem;
  color: var(--color-white);
}

footer div h2 {
  color: var(--color-white);
}

footer div p {
  line-height: 2.125rem;
  margin-right: 15rem;
}

footer img {
  height: 467px;
  margin: 3.375rem auto;
}
