:root {
  --color-background: #273943;
  --color-white: #fff;
  --color-green: #39b579;
  --color-green-light: #4ff0a2;
  --color-gray: #7d7e7e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.card {
  background-color: var(--color-background);
  width: 350px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

/* ! CARD HEADER */

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}

.card-header a,
input[type='submit'] {
  padding: 1rem;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

.bg-green {
  background-color: var(--color-green);
}

.bg-dark {
  background-color: var(--color-background);
}

.hover-signin:hover {
  background-color: var(--color-green-light);
}

/* ! CARD FORM */

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-name {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

input {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid var(--color-gray);
  border-right: 2px solid var(--color-gray);
  padding: 0.5rem;
  background-color: var(--color-background);
}

input::placeholder {
  color: var(--color-gray);
}

input[type='email'] {
  margin-bottom: 1rem;
}

.forgot {
  font-size: 0.8rem;
  text-align: right;
  text-decoration: underline;
  color: var(--color-green-light);
  margin-bottom: 1.5rem;
}

input[type='submit'] {
  border-top: 2px solid var(--color-gray);
  border-left: 2px solid var(--color-gray);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--color-green);
}

input[type='password'] {
  margin-bottom: 1rem;
}
