@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter-VariableFont.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Inter;
}

.wrapper {
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
}
