.faq__item {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-block: 0.5rem;
  font-weight: 600;
}

.faq__question button {
  all: unset;
  cursor: pointer;
}

.faq__answer {
  padding-block: 0.5rem;
}

.faq__answer.toggle {
  display: none;
}
