* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: white;
  background-color: #43d1af;
  width: 35vw;
  text-align: center;
  padding: 1rem;
}

form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f7f7f7;
  padding: 1rem;
}

input,
textarea {
  border: 1px solid darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}

input::placeholder,
textarea::placeholder {
  color: darkgray;
}

textarea {
  height: 60px;
}

input[type='submit'] {
  background-color: #43d1af;
  color: white;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #2ebc99;
}

@media only screen and (min-width: 1400px) {
  form {
    max-width: 420px;
  }

  .header {
    max-width: 420px;
  }
}
