.header {
  display: flex;
  justify-content: space-between;
  min-height: 40vh;
  max-width: 1800px;
  margin-inline: auto;
  margin-block-end: 4rem;
  padding-inline: 5%;
  padding-block-start: 1rem;
}

.header nav {
  display: flex;
  gap: 2rem;
}
