* {
  box-sizing: border-box;
}

img {
  margin-bottom: 0.5rem;
  transition: 1s;
}

.img_1:hover {
  border: 5px double red;
}

.img_2:hover {
  filter: grayscale(1);
}

.img_3:hover {
  border-radius: 100%;
}
